Olá, <strong>{{ deliveryman }}</strong>
<p>Você tem uma nova solicitação de entrega, veja os detalhes abaixo:</p>
<p>
<strong>Produto: </strong> {{ product }} <br/>
<strong>Destinatário: </strong> {{ recipient }} <br/>
<strong>Endereço: </strong> {{ address }} <br/>
<strong>Número: </strong> {{ house_number }} <br/>
<strong>Cidade: </strong> {{ city }} <br/>
<strong>Estado: </strong> {{ state }} <br/>
<strong>CEP: </strong> {{ zipcode }} <br/>
<strong>Criado em: </strong> {{ createdAt }} <br/>
</p>

